.header__wrapper {
    height: 80px;
    width: 100%;
    margin: auto;
    max-width: 1024px;
}

.header {
    padding: 0 36px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-finder {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.movie-finder__suggestion {
    color: black;
    font-size: 14px;
    padding: 16px 8px;
    background-color: lightgrey;
    border-bottom: solid 2px white;
}

.movie-finder__form {
    width: 100%;
    position: relative;
    z-index: 12;
}

header input, .movier-finder__search {
    display: block;
    width: 100%;
    padding: 12px 24px;
    border-radius: 24px;
    border: solid 1px gray;
    color: #040;
    font-size: 14px;
}

header input:focus, .movier-finder__search:focus {
    outline: none;
    border: solid 1px #0066cc;
}

.movie-list__wrapper {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    height: calc(100% - 80px);
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 32px;
    padding: 36px;
}

.movie {
    border-radius: 4px;
    position: relative;
    background-color: black;
}

.movie__img {
    width: 100%;
    display: block;
    min-height: 320px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.movie__title {
    color: #fff;
    padding: 8px 16px;
    margin: 0px;
    width: 100%;
}

.movie__error {
    height: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-details__wrapper {
    max-width: 650px;
    margin: 36px auto;
}

.movie-details {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin: 20px;
    border-radius: 8px;
}

.movie-details__poster-wrap {
    padding: 16px;
}

.movie-details__poster {
    min-width: 240px;
    height: 350px;
    min-height: 350px;
}

.movie-details__text {
    color: white;
    padding: 16px;
}

.movie-details__title {
    font-size: 26px;
    margin: 0px;
    margin-bottom: 12px;
}

.movie-details__desc {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 4px;
}

.movie-details__plot {
    font-size: 12px;
    margin-top: 12px;
}

@media screen and (min-width:650px) {
    .movie-details {
        flex-wrap: nowrap;
    }
    .movie-details__poster-wrap {
        padding: 0px;
    }
    .movie-details__poster {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}