#root {
  height: 100vh;
  overflow-y: scroll;
}

body * {
  box-sizing: border-box;
}

.transparent-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
  z-index: 1;
}